<html lang="en">

<head>
    <%- include ('components/head') %>
        <title>Home</title>
</head>

<body>

    <%- include ('components/navbar') %>
        <%- include ('components/carousel') %>
            <%- include ('components/profil') %>
                <%- include ('components/service') %>
                    <%- include ('components/award') %>



</body>

</html>